.dashboard{
    display: flex;
}


.sidebar{
    flex:1;
    height: calc(100vh - 50px);
    background-color: rgb(175, 173, 220);
    padding: auto;
    border-radius: 10px;
    position: sticky;
    top:0;
    z-index: 10;
}
.Graph{
    flex:6
}

.sidebarTitle{
    padding: 20px;
}